.search_box {
  display: flex;
}

.header {
  background-color: #5865e0;
  border-radius: 0 0 0 55px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 90px;
  height: 100%;
  margin-bottom: 2%;
}

.title_bar {
  display: flex;
  width: 73%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.main_filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main_filter > * {
  margin: 5px;
  padding: 2px;
}

.filter {
  width: 73%;
}

@media only screen and (max-width: 768px) {
  .child_location,
  .child_fulltime {
    display: none;
  }

  .job_listings {
    margin-top: 50px;
  }
}
