.detailed_job {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 30%;
  border: 2px solid black;
  margin: 0;
}

.header_elements {
  display: flex;
  align-items: center;
}

.main_details,
.apply_now,
.header_child {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.split_requirements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job_details {
  display: flex;
  flex-direction: column;
  width: 60%;
}
