.search_box {
  display: flex;
}

.header {
  background-color: #5865e0;
  border-radius: 0 0 0 55px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .filter {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
} */

.main_filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main_filter > * {
  margin: 5px;
  padding: 2px;
}

.filter_box {
  width: 100%;
}
