.job_listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.box_container {
  margin: 20px;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
