.center_loader {
  width: 1%;
  margin-left: auto;
  margin-right: auto;
}

.company_site_button {
  margin: 2%;
}
.header_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
}

.how_to_apply {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75%;
}

.main_detail {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.split_requirements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_bar_detailed {
  display: flex;
  width: 73%;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.overview_card_container {
  border-radius: 0 0 0 55px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 90px;
  height: 100%;
  margin-bottom: 2%;
}

.overview_card {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .header_elements,
  .split_requirements {
    flex-direction: column;
  }
  .main_detail_container {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .main_detail_container {
    margin-top: 30%;
  }
}

@media only screen and (max-width: 330px) {
  .main_detail_container {
    margin-top: 40%;
  }
}
