/* .detailed_job {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 30%;
  border: 2px solid black;
  margin: 0;
}
*/

.center_loader {
  width: 1%;
  margin-left: auto;
  margin-right: auto;
}

.company_site_button {
  margin: 2%;
}
.header_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* align-items: flex-start; */
  width: 10%;
}

.how_to_apply {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75%;
}

.main_detail {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/*

.main_details,
.apply_now,
.header_child {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}



.job_details {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.loading_component {
  display: flex;
  justify-content: center;
} */

.split_requirements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_bar_detailed {
  display: flex;
  width: 73%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.detailed_header {
  background-color: #5865e0;
  border-radius: 0 0 0 55px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 90px;
  height: 100%;
  margin-bottom: 2%;
}

.overview_card {
  width: 60%;
}
